a {
    color: black;
    font-variant: small-caps;
    font-size: 14pt;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    background-color: #555555;
    color: white;
}
article {
    background-color: #999966;
    font-size: 14pt;
    padding: 5px;
}
article:first-letter {
    color: #990000;
    font-size: 36pt;
    font-weight: bold;
}
body {
    background-color: #1d8080;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
}
h1 {
    font-size: 36pt; 
    line-height: 0pt;
}
h2 {
    line-height: 0pt;
}
nav {
    background-color: #ffcc66;
    text-align: center;
}