body {
    background-color: #ffb073;
}
header {
    background-color: #ffaa00;
    text-align: center;
}
h1 {
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    float: left;
}
div {
    width: 525px;
    padding: 0px;
    float: left;
}
section {
    width: 900px;
    height: 600px;
    padding: 10px;
    background-color: #b16e30;
}